.v-dialog {
    border-radius: 50px !important;
}

@font-face {
    font-family: "SAMSUNGSHARPSANS-REGULAR";
    src: url("../assets/fonts/SAMSUNGSHARPSANS-REGULAR.TTF") format("truetype");
}

@font-face {
    font-family: "SAMSUNGSHARPSANS-MEDIUM";
    src: url("../assets/fonts/SAMSUNGSHARPSANS-MEDIUM.TTF") format("truetype");
}

@font-face {
    font-family: "SAMSUNGSHARPSANS-BOLD";
    src: url("../assets/fonts/SAMSUNGSHARPSANS-BOLD.TTF") format("truetype");
}